body {
  background-color: $background;
  font-family: $gilroy;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8px;
  color: $text;

  &.scroll-lock {
    overflow: hidden;
  }
}
