$background: #FFF;
$accent: #5A98D0;
$accent-hover: #1F3F68;
$accent-dark: #316099;
$border: #356EAD;
$text: #1F3F68;
$text-secondary: #316099;
$text-light: #5A98D0;
$text-white: #FFF;
$error: #be0a0a;
$gilroy: 'Gilroy', sans-serif;
$galien: 'Galien', sans-serif;
