.advantages {
  margin-bottom: 212px;

  @media (max-width: 920px) {
    margin-bottom: 90px;
  }
}

.advantages__container {
  @include container;

  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 100px;

  @media (max-width: 920px) {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.advantages__title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: 920px) {
    display: grid;
  }
}

.advantages__title {
  align-self: flex-start;
  margin-bottom: 160px;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 1.8px;

  @media (max-width: 920px) {
    margin-bottom: 32px;
    text-align: center;
  }

  @media (max-width: 440px) {
    font-size: 28px;
    line-height: 38px;
  }
}

.advantages__card__img {
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 0 auto 56px;
}

.advantages__card {
  width: 100%;
  max-width: 380px;
  padding: 48px;
  background-color: $background;
  border-radius: 10px;
  box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.20);
  box-sizing: border-box;

  @media (max-width: 920px) {
    margin: 0 auto;
    padding: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 100px;

    @media (max-width: 920px) {
      margin-bottom: 32px;
    }
  }

  &--big-image {
    padding-top: 0;

    & > .advantages__card__img {
      position: relative;
      top: -20px;
      max-width: 220px;
      margin-bottom: 31px;
    }
  }
}

.advantages__card__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
}

.advantages__card__descr {
  margin: 0 0 32px;
}

.advantages__card__link {
  @include reset-link;

  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.7px;
  color: $text-light;
}
