<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div style="display: none">
      <include src="build/sprite.svg"></include>
    </div>

    @@include('../components/header.html')

    <section class="hero">
      <div class="hero__cover"></div>
      <div class="container">
        <div class="hero__content">
          <div>
            <h1 class="hero__title">
              New Automation <br />
              Tool for Your Home
            </h1>
            <p class="hero__descr">
              Lorem ipsum dolor sit amet, consectetur adipiscing <br />
              elit. Faucibus tristique vulputate ultrices ut mauris <br />
              tellus at. Posuere sollicitudin odio tellus elit.
            </p>
            <a href="#" class="hero__action">See Our Project</a>
          </div>
          <img class="hero__img" src="./assets/img/content/hero-image.png" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
