<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__container">
      <div class="footer__header">
        <div>
          <h3 class="footer__header__title">
            Intersted to work <br />
            with our team?
          </h3>
          <p class="footer__header__descr">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br />
            sed do eiusmod tempor incididunt ut labore et dolore <br />
            magna aliqua. Ut enim ad minim veniam.
          </p>
        </div>
        <button class="footer__header__action" type="button">Let’s Talk</button>
      </div>
    </div>

    <div class="footer__divider"></div>

    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__links__wrapper">
          <a class="footer__links__logo" href="#">
            <svg width="48" height="48">
              <use xlink:href="#icon-logo-light"></use>
            </svg>
            Afrianska
          </a>
          <div class="footer__links__items footer__links__items--large-gap">
            <a href="#" class="footer__links__item">
              <span>A.</span>
              Lorem ipsum dolor sit amet, <br />
              consectetur adipisicing elit.
            </a>
            <a href="tel:+62-812-7313-4321" class="footer__links__item">
              <span>T.</span>
              +62-812-7313-4321
            </a>
            <a href="mailto:hello.afrian@gmail.com" class="footer__links__item">
              <span>E.</span>
              hello.afrian@gmail.com
            </a>
          </div>
        </div>
        <div class="footer__links__wrapper">
          <a href="#" class="footer__links__title">About US</a>
          <div class="footer__links__items">
            <a href="#" class="footer__links__item">About</a>
            <a href="#" class="footer__links__item">What We Do</a>
            <a href="#" class="footer__links__item">Project</a>
            <a href="#" class="footer__links__item">How It Work With Us</a>
          </div>
        </div>
        <div class="footer__links__wrapper">
          <a href="#" class="footer__links__title">Follow US</a>
          <div class="footer__links__items">
            <a href="https://instagram.com" class="footer__links__item">Instagram</a>
            <a href="https://facebook.com" class="footer__links__item">Facebook</a>
            <a href="https://linkedin.com" class="footer__links__item">LinkedIn</a>
            <a href="https://youtube.com" class="footer__links__item">Youtube</a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__container">
      <span class="footer__copyright">2019 © Afrianska. All rights reserved.</span>
    </div>
  </div>
</footer>
